#myContainer {
    text-align: center;
    padding: 0;
    margin: 10px;
    background-color: white;
    width: 15%; /* Adjust the width as desired */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 5px;
}

body {
    background-color: lightgray;
}

.estandarTexbox,
.dropdownClass,
#dpEstadoCivil,
#dpGenero {
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 18px;
    box-sizing: border-box; /* Include padding in the width */
    background-color: white; /* Set the background color to white */
}

#btnGuardar {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: transform 0.3s;
}

    #btnGuardar:hover {
        transform: scale(1.1);
    }

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.message-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#mensajeContenido {
    text-align: center;
}

.btnClass {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

    .btnClass:hover {
        background-color: darkgreen;
    }

h2 {
    text-align: center;
    margin-top: 0;
}



.containerTable {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: white;
    width: 80%; /* Adjust the width as desired */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 5px;
}



.login-container {
    background-image: url('../image/login-background.jpg');
}

#txtlogin {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

.standardTextbox {
    width: 100px;
}

.tablaLogin > button {
    width: 80px;
    height: 50px;
}
