#mycontainer {
    border: 1px solid #000;
    padding: 10px;
    margin: 0 auto; /* Center the element horizontally */
    width: 500px; /* Set a fixed width for the container */
    background-color: #fff; /* Set the background color */
}

    #mycontainer .cssError {
        color: red;
        font-size: 16px;
        font-weight: bold;
    }

    #mycontainer .cssExito {
        color: green;
        font-size: 14px;
        font-weight: bold;
    }

    #mycontainer .Center {
    margin-left: auto;
    margin-right: auto;
}

    #mycontainer .divAgregarPersona {
        width: 500px;
}

    #mycontainer .divTabla {
        width: 90%;
    }

    #mycontainer body {
        background-image: url('../Images/fondo.png');
    }

    #mycontainer .divAgregarPersona h4 {
        text-align: center;
    }

    #mycontainer .mGrid {
    width: 100%;
        background-color: #fff;
        margin: 5px 0 10px 0;
        border: solid 1px #525252;
        border-collapse: collapse;
}

        #mycontainer .mGrid td {
            padding: 2px;
            border: solid 1px #c1c1c1;
            color: #717171;
}

        #mycontainer .mGrid th {
            padding: 4px 2px;
            color: #fff;
            background: #424242 url(grd_head.png) repeat-x top;
            border-left: solid 1px #525252;
            font-size: 0.9em;
}

 #mycontainer .mGrid .alt {
            background: #fcfcfc url(grd_alt.png) repeat-x top;
        }

 #mycontainer .mGrid .pgr {
            background: #424242 url(grd_pgr.png) repeat-x top;
        }

 #mycontainer .mGrid .pgr table {
                margin: 5px 0;
            }

 #mycontainer .mGrid .pgr td {
                border-width: 0;
                padding: 0 6px;
                border-left: solid 1px #666;
                font-weight: bold;
    color: #fff;
                line-height: 12px;
            }

 #mycontainer .mGrid .pgr a {
                color: #666;
                text-decoration: none;
}

 #mycontainer .mGrid .pgr a:hover {
                    color: #000;
                    text-decoration: none;
    }



.login-container {
    background-image: url('../image/login-background.jpg');
}

#txtlogin {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

.standardTextbox {
    width: 100px;
}

.tablaLogin > button {
    width: 80px;
    height: 50px;
}
